<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('partials/header'); %>
    <div>
      <% authorInitials.forEach(function(ai){ %>
        <%- include('partials/initial', ai); %>
      <% }); %>
    </div>
  </body>
</html>
