<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('partials/header'); %>
    <% summaries.forEach(function(summary){ %>
      <%- include('partials/summary', summary); %>
    <% }); %>
    <% for(let i = 1; i <= page.max; i++){ %>
      <% if (i === page.current) { %>
        <%= i %>
      <% } else { %>
        <a href="/?page=<%= i %>"><%= i %></a>
      <% }; %>
    <% }; %>
  </body>
</html>
